.extra-wrap {zoom:1;}

a.nocolor,.nocolor a{
	//color:expression(this.parentNode.currentStyle.color);
}

img { -ms-interpolation-mode: bicubic; }

.bg-thumbs li a:hover>span,.bg-thumbs li.active a>span{
	display:none;
}